@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

.font-montserrat-bold {
  font-family: 'Montserrat';
  font-weight: 700;
}

.font-montserrat-600 {
  font-family: 'Montserrat';
  font-weight: 600;
}

.font-montserrat-500 {
  font-family: 'Montserrat';
  font-weight: 500;
}

.font-montserrat {
  font-family: 'Montserrat';
  font-weight: 400;
}